body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
  
.memory-game {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    max-width: 850px;
    width: 80%;
    padding: 20px;
}
  
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
  
.game-board {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    gap: 20px;
    margin: 50px 70px 0;
}
.card{
    width:100px;
    height:140px;
    perspective:1000px;
    cursor:pointer;
    user-select: none;
}
.card-inner{
    width:94px;
    height:134px;
    transition:transform 0.5s ease-in-out;
    transform-style:preserve-3d;
    border: #000 3px solid;
    border-radius: 10px;
}
.card.flipped .card-inner{
    transform:rotateY(540deg);
}
.card-face{
    position:absolute;
    width:100%;
    height:100%;
    backface-visibility: hidden;
    border-radius:7.04px;
}
.card-front{
    background-color:#007bff;
    display:flex;
    justify-self:center;
    align-items:center;
    font-size:20px;
}
.card-back{
    background-color:#efefef;
    color:#007bff;
    transform:rotateY(180deg);
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:25px;
}
button{
    padding:10px 20px;
    font-size: 16px;
    background-color:#007bff;
    color: #fff;
    border:none;
    border-radius:5px;
    cursor:pointer;
    margin-top:20px;
}